
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f4f6fb;
}

.topbar {
  height: 48px;                
  background: #023b6d;
  display: flex;
  align-items: center;
  padding: 0 16px;             
}

.top-left {
  display: flex;
  align-items: center;
  gap: 14px;
}

.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.dev-min {
  font-family: monospace;
  font-size: 16px;
  font-weight: 600;
  color: lch(83.92% 0.36 17.87);
  opacity: 0.9;
}
.logo {
  height: 22px;
}

.top-left i {
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.top-right {
  margin-left: auto;          
  display: flex;
  align-items: center;
  padding-left: 12px;           
}

.download {
  height: 34px;                
  line-height: 34px;
  padding: 0 16px;
  background: #0d6efd;
  color: #ffffff;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  cursor: pointer;
}

.hero {
  max-width: 1200px;
  margin: 60px auto;
  background: #ffffff;
  border-radius: 24px;
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.hero-text {
  width: 50%;
}

.hero-text h1 {
  font-size: 48px;
  color: #1f3c88;
  margin-bottom: 20px;
}

.hero-text p {
  color: #555;
  line-height: 1.7;
  margin-bottom: 30px;
}

.stats {
  display: flex;
  gap: 40px;
  margin-bottom: 30px;
}

.stats h2 {
  color: #1f6fff;
}

.stats span {
  font-size: 14px;
  color: #777;
}

.buttons {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 14px 30px;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

.primary {
  background: #1f6fff;
  color: white;
}

.primary:hover {
  background: #3f86ff;
}

.secondary {
  border: 2px solid #1f6fff;
  color: #1f6fff;
}

.secondary:hover {
  background: #1f6fff;
  color: white;
}

.hero-image {
  position: relative;
  width: 420px;
  height: 500px; 
}

.blue-bg {
  position: absolute;
  bottom: -16px;
  right: -16px;
  width: 100%;
  height: 100%;
  background: #1f6fff;
  border-radius: 26px;
  z-index: 0;
}

.hero-main-image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 26px;
  z-index: 1;
}

.badge {
  position: absolute;
  background: white;
  padding: 9px 14px;
  border-radius: 18px;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0 8px 22px rgba(0,0,0,0.15);
  z-index: 2;
  color: #1f3c88;
}

.badge i {
  color: #1f6fff;
  font-size: 15px;
}

.badge-top {
  top: 20px;
  left: -42.5px;
}

.badge-left {
  bottom: 85px;
  left: -42.5px;
}

.badge-right {
  bottom: 36px;
  right: -42.5px;
}
